.header-section{
    padding: 80px 0px 0px 20px;
    width: 100%;
    height: 580px;
    background-image: url('/Image/Background-Images/bg-header.jpg');
}
.header-welcome{
    color: #e6270a;
    font-size: 20px;
    font-weight: 800;
}
.header-h1{
    color: rgb(6, 11, 4);
    font-size: 55px;
    padding-bottom: 50px;
    font-weight: 900;
}
.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    background-color: #de2508;
}
.header-btn a{
    text-decoration: none;
    color: rgb(251, 248, 248);
    font-weight: 400;
}
.yy{
    height: 500px;
    width: 100px;
    border-radius: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

@media (min-width:768px){
    .header-h1{
        color: rgb(62, 150, 18);
        font-size: 65px;
    }
    .header-img{
        height: 900px;
        width: 730px;
    }

}


@media (min-width:1024px){

    .header-section{
        height: 980px;
    }
    .header-section{
        padding: 100px 0px 0px 80px;
        height: 680px;
    }
    .header-welcome{
        font-size: 25px;
    }
    .header-h1{
        font-size: 95px;
    }
}
